/* Layout */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  overflow-x: hidden;
}

#root{
  --background: #fcfafb;
  --primary: #9e6c86;
  --secondary: #c8beac;
  --accent: #00C9AE;
  --max-width: 1440px;

  min-height: 100svh;
  background-color: var(--background);
}

ul{
  list-style: none;
}

a, .navbar-btn{
  text-decoration: none;
  color: inherit;

  &:hover{
    opacity: 0.4;
    transition: opacity 0.3s ease;
  }
}

button{
  font-size: unset;
  border: none;
  width: max-content;
  text-wrap: nowrap;
  padding: 0.5rem;
  
  &:hover{
    cursor: pointer;
  }
  
  &.primary{
    border-radius: 0.25rem;
    background-color: var(--primary);
    color: white;

    &:hover{
      opacity: 0.8;
    }
  }
  
  &.primary-btn{
    font-size: 24px;
  }  
}

textarea{
  font: inherit;
  resize: none;
  border: 1px solid grey;
  padding: 0.25rem;
  width: 100%;
  border-radius: 0.25rem;
  
  &:focus{
    outline: 1px solid grey;
  }
}

h1{
  font-size: 64px;
}

header{
  position: sticky;
  width: 100%;
  border-bottom: 2px solid lightgrey;
  top: 0;
  background-color: var(--background);
  z-index: 1;
}

.header__navbar{
  display: flex;
  margin: auto;
  max-width: var(--max-width);
  justify-content: flex-end;
}

.header__title{
  margin-right: auto;
}

.icon{
  filter: invert(100%);
  vertical-align: sub;
}

.app{
  position: relative;
  max-width: var(--max-width);
  margin-inline: auto;
  min-height: calc(100svh - 66px);
}

.login-link{
  display: inline-block;
  color: var(--primary);
  text-decoration: underline;
  margin: auto;
}

.session-btn, .header__navbar > *{
  padding: 1rem; 
}

.container{
  display: grid;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  gap: 1rem;
}

/* Notes */

.notes__header{
  display: none;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem ;

  &.open{
    display: flex;
  }
}

.notes__status{
  display: flex;
  width: max-content;

  background-color: var(--background);
  border-radius: 2rem;
  outline: 2px solid lightgrey;
  overflow: hidden;

  & button{
    padding: 0.75rem 1rem;
    outline: 1px solid lightgrey;
    text-align: center;
    width: 100%;
    
    &:active{
      background-color: var(--accent);
      background-image: linear-gradient(rgb(0 0 0/10%) 0 0);      
    }
  }

  & .active{
    background-color: var(--accent);
  }
}

.notes__filter{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter__button{
  display: flex;
  border: 2px solid grey;
  border-radius: 0.75rem;
}

.filter__input{
  width: 40ch;
  border-radius: 50vw;
}

.filter__list{
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  gap: 0.5rem;
}

.filter__wrapper{
  display: flex;

  & *{
    text-wrap: nowrap;
  }
}

.filter{
  padding: 0.5rem;
  background-color: lightgrey;
  border-radius: 0.5rem;

  &.active{
    background-color: black;
    color: white;
    font-weight: bold;
  }
}

.notes{
  --notes-max-width: 1408px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  width: min(var(--notes-max-width, 458.67px), 100%);

  padding-block: 1rem;

  gap: 1rem;
}

.notes__add-btn{
  position: sticky;
  display: flex;
  align-items: center;
  margin-left: auto;
  bottom: 2rem;
}

.notes__add-btn__icon{
  width: 1.5rem;
  margin-right: 0.25rem;
}

.note__wrapper{
  width: 100%;
  max-width: 458.67px;
}

.note{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  padding: 0.5rem;

  border: 2px solid lightgrey;
  border-radius: 1rem;
}

.note__actions-btn{
  padding: 0.25rem 0.75rem;
  margin-left: auto;
}

.note__actions{
  position: absolute;
  z-index: 10;
  left: 100%;
  top: -2px;
  
  visibility: hidden; 
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  
  margin-left: 1rem;
  background-color: var(--background);
  border: 2px solid lightgrey;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);


  &.opened{
    visibility: visible;
  }

  & button{
    width: 100%;
  }

  & > :not(:last-child){
    border-bottom: 2px solid lightgrey;
  }
}

.note__action{
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;

  &:hover{
    background-color: var(--accent);
  }
}

.action__icon{
  width: 1rem;
}

.note__categories{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.category{
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--accent);
  border-radius: 100vw;
  & > *{
    color: white;
    font: unset;
  }
}

.category__btn{
  background-color: inherit;
  
  & > img{
    width: 1.125rem;
    height: auto;
    vertical-align: middle;
  }
}

.note__content{
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
  border-bottom: 1px solid lightgrey;
  overflow: hidden;

  & > *{
    padding: 0.5rem;
  }
  
  & > :not(.note__created-at){
    font-size: 24px;
    border: none;
  }

  & > textarea{
    outline: solid 2px lightgrey;

    &:focus{
      outline: solid 2px grey;
    }
  }
}

.note__header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &::before{
    content: "";
  }
}

.note__created-at{
  width: max-content;
}

/* Forms */

form{
  display: flex;
  flex-direction: column;
}

.session__form, .modal__form{
  width: 480px;
  margin: auto;
  padding: 1rem;

  gap: 	1rem;
  
  border-radius: 1rem;
  border: 2px solid lightgrey;
}

.modal__form .note__info{
  flex-direction: row;
  width: 100%;
}

input[type=text], input[type=password]{
  padding: 0.75rem 0.5rem;
  
  border: 1px solid grey;
  border-radius: 0.75rem;
  
  &.session__input{
    line-height: 1.25;
  }

  &:focus{
    outline: 1px solid grey;
  }
}

.edit-form{
  gap: 0.5rem;
}

.form__label{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__container{
  margin: auto;
  border: none;
  border-radius: 1rem;

  &::backdrop{
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 965px) and (max-width: 1439px){
  .notes{
    --notes-max-width: 933.34px;
  }
}

@media (max-width: 964px) {
  .notes{
    --notes-max-width: 458.67px;
  }
}